header {
  background-color: lightsalmon;
  padding: 10px 0px;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 42px;
  text-align: center;
  color: #fff;
}

h2 {
  margin-top: -20px;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50vw;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
}
label {
  font-family: helvetica, arial, sans-serif;
}
input {
  display: block;
  margin-top: 5px;
  padding: 7px;
  width: 90%;
  margin-bottom: 20px;
}

.valid-input {
  border: 2px solid lightgreen;
}

.invalid-input {
  border: 2px solid red;
}

.valid-p {
  margin-top: -10px;
  margin-bottom: 20px;
  color: green;
  font-family: Helvetica, Arial, sans-serif;
}

.invalid-p {
  color: red;
  font-family: Helvetica, Arial, sans-serif;
}
